*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Libre Franklin', sans-serif;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
   cursor: pointer;
}

#signIn{
    background-image: linear-gradient(to right, #fff 0%, #f7f3f3  51%, #fff  100%);
    color: #6441A5;
}

.body-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #B06AB3, #4568DC);

}

.overlay {
    color: #ffffff;
}

.overlay-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
}
